.app {
	flex: 1;
	padding: 1rem;
}

.app--mode_dark {
	background-color: var(--color-paper-dark);
	color: var(--color-paper-text-dark);
}

.app--mode_light {
	background-color: var(--color-paper-light);
	color: var(--color-paper-text-light);
}
